@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navigation {
  background: #000;
  width: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation h1 {
  float: left;
}

.navigation ul {
  text-align: right;
}

.navigation::after {
  display: block;
  content: "";
  clear: both;
}

.navigation li {
  display: inline-block;
  margin-top: 10px;
}

.navigation li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.banner {
  max-height: 700px;
  overflow: hidden;
  margin-bottom: 1%;
  position: relative;
}

.banner h2 {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 35%;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product {
  float: left;
  width: 30%;
  margin-left: 45px;
}

.product img {
  width: 100%;
}
.products h2,
.products p {
  text-align: center;
}

.about {
  padding: 10px;
  clear: left;
  margin: 20px 1%;
  text-align: center;
}

.about h3 {
  font-size: 3em;
}

.about p {
  column-count: 3;
}

section,
aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
}

.colums::after {
  display: block;
  content: "";
  clear: both;
}
